source https://www.nuget.org/api/v2

github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
nuget FSharp.Core
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group build
source https://www.nuget.org/api/v2

nuget fake
nuget NuGet.CommandLine